{% extends "Layout.html" %}
{% block main %}

<!-- 这一页的内容是使用 markdown 写的，复杂的内容加入了 HTML -->

<noscript id="team-md-content">
# 成员 / Members

## 老师 / Advisor
<style>
    .person_pic{
        width: 200px;
        height: 250px;
        border-radius: 0.5em
    }
    .person_card{
        height: 600px;
        overflow: auto;
    }
</style>


<div class="row">
    <div class="col-12 col-lg-5 col-md-5 mb-4">
        <div class="card">
            <div class="card-body person_card">
                <img class="person_pic" src="/static/img/logos/person/zhangrc.jpg" alt="Card image cap">
                <h3 class="card-title">RICHONG ZHANG</h3>
                <p class="card-text">
                    Ph.D. Associate Professor<br>
                    School of Computer Science<br>
                    Beihang University<br>
                    37 Xueyuan Road, Haidian Dist, Beijing China, 100191<br>
                    Email: zhangrc [at] act [dot] buaa [dot] edu [dot] cn<br>
                </p>
                <a href="http://act.buaa.edu.cn/zhangrc/" class="btn btn-sm btn-primary">Personal Page</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-5 col-md-5 mb-4">
        <div class="card">
            <div class="card-body person_card">
                <img class="person_pic" src="/static/img/logos/person/yymao.jpg" alt="Card image cap">
                <h3 class="card-title">YONGYI MAO</h3>
                <p class="card-text">
                    Ph.D. Professor<br>
                    School of Electrical Engineering and Computer Science<br>
                    University of Ottawa<br>
                    800 King Edward Avenue, Ottawa, Ontario, Canada<br>
                    Email: yymao [AT] site [DOT] uottawa [DOT] ca<br>
                </p>
                <a href="http://www.site.uottawa.ca/~yymao/index_main.html" class="btn btn-sm btn-primary">Personal Page</a>
            </div>
        </div>
    </div>
</div>

## 博士后 / Postdoc

- 张继强 / Jiqiang Zhang

## 博士生 / Ph.D. student
<!--<img src="/static/img/logos/person/lice.jpg"  class="img-fluid" style="width: 500px;"> -->
- 李春娥 / Chune Li
<!--<img src="/static/img/logos/person/wujs.jpg"  class="img-fluid" style="width: 500px;"> -->
- 吴俊爽 / Junshuang Wu
<!--<img src="/static/img/logos/person/baoh.jpg"  class="img-fluid" style="width: 500px;"> -->
- 包　含 / Han Bao
<!--<img src="/static/img/logos/person/chenjf.jpg"  class="img-fluid" style="width: 500px;"> -->
- 陈俊帆 / Junfan Chen
<!--<img src="/static/img/logos/person/lijr.jpg"  class="img-fluid" style="width: 500px;"> -->
- 李嘉然 / Jiaran Li
<!--<img src="/static/img/logos/person/xiaolk.jpg"  class="img-fluid" style="width: 500px;"> -->
- 肖立康 / Likang Xiao

## 硕士 / Master student

### 16级:

- 王　玥 / Yue Wang
- 孔繁爽 / Fanshuang Kong
- 李君鹏 / Junpeng Li

### 17级：

- 梅家洁 / Jiajie Mei
- 王晨玥 / Chenyue Wang
- 王　昊 / Hao Wang
- 王　飞 / Fei Wang
- 李旭峰 / Xufeng Li
- 胡作海 / Zuohai Hu
- 朱博康 / Bokang zhu
- 谭智隆 / Zhilong Tan
- 王明磊 / Minglei Wang
- 刘子涵 / Zihan Liu
- 龚凌云 / Lingyun Gong

### 18级：

- 王　钰 / Yu Wang
- 罗培祥 / Peixiang Luo
- 冯　昶 / Chang Fen
- 卢东平 / Dongping Lu
- 康泽源 / Zeyuan Kang



## 本科 / Undergraduate student

### 15级：

- 王元玮 / Yuanwei Wang
- 胡志元 / Zhiyuan Hu 
- 李煦通 / Xutong Li
- 徐昭清 / Zhaoqing Xu

### 已毕业（曾经在本组工作的成员）

- 赵伟华 / Weihua Zhao（北航16届研究生）
- 文剑烽 / Jianfeng Wen（北航16届研究生）
- 陈诗妮 / Shini Chen（北航16届研究生->今日头条）
- 聂　健 / Jian Nie（北航16届研究生->京东）
- 贺　薇 / Wei He（北航17届研究生->百度）
- 许　程 / Cheng Xu（北航17届研究生->航天二院二部）
- 王静文 / Jingwen Wang（北航18届本科->杜克大学）  

---

## news

### 2018-08-09 Banquet

<img src="/static/img/logos/0809.jpg" class="img-fluid" style="max-width: 500px;">   

### 2018-08-10 Tutorial: Information Theory By Prof.Mao

<img src="/static/img/logos/0810.jpg"  class="img-fluid" style="max-width: 500px;">                   

### 2018-08-14 Conference: CCKS2018 in Tianjin

<img src="/static/img/logos/CCKS2018/1.jpg"  class="img-fluid" style="max-width: 500px;height: 400px">
<img src="/static/img/logos/CCKS2018/2.jpg"  class="img-fluid" style="max-width: 500px;height: 400px">
<img src="/static/img/logos/CCKS2018/3.jpg"  class="img-fluid" style="max-width: 500px;height: 400px">
<img src="/static/img/logos/CCKS2018/4.jpg"  class="img-fluid" style="max-width: 500px;height: 400px">
<img src="/static/img/logos/CCKS2018/5.jpg"  class="img-fluid" style="max-width: 500px;height: 400px">
<img src="/static/img/logos/CCKS2018/6.jpg"  class="img-fluid" style="max-width: 500px;height: 400px">


</noscript>



<link rel="stylesheet" href="/static/css/typo.css">
<!-- marked 用于转 markdown 为 html -->
<script src="https://cdn.bootcss.com/marked/0.4.0/marked.min.js"></script>


<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="team-content typo"></div>
        </div>
    </div>
</div>


<script>
    var md = document.getElementById('team-md-content').innerText;
    $('.team-content').html(marked(md));



    var motto = "“高树靡阴，独木不林。” ——崔胭《达旨》";
    
</script>


{% endblock %}
